# ----------------------------
# Android/Gradle Related
# ----------------------------
.gradle/
build/
**/build/

# ----------------------------
# Build Artifacts
# ----------------------------
*.apk
*.aab

# Local configuration files
local.properties
*.iml

# NDK/CMake
.cxx/
.externalNativeBuild/

# ----------------------------
# IntelliJ/Android Studio
# ----------------------------
.idea/
*.iws
*.ipr
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# ----------------------------
# OS-specific
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Logging and Captures
# ----------------------------
captures/
output.json

# ----------------------------
# Jetpack Compose Preview Cache
# ----------------------------
**/composePreviewCache/

# ----------------------------
# Keystore files - DO NOT UPLOAD YOUR RELEASE KEYS
# ----------------------------
*.jks
*.keystore

# ----------------------------
# Kotlin/Java Compile Cache
# ----------------------------
*.class

# ----------------------------
# Misc
# ----------------------------
*.log
*.bak
*.swp
*.tmp
